@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    z-index: 2;
}

.tooltipTable {
    font-family: 'Inter', sans-serif;
    border: 0px;
    border-collapse: collapse;
    table-layout: auto;
}

.focus {
    font-weight: bold;
}

.hidden {
    display: none;
}

.hover {
    background-color: #ffffbb;
}

.reportTable {
    font-family: 'Inter', sans-serif;
    color: #696969;
    border-collapse: collapse;
    border-spacing: 3px;
    table-layout: fixed;
    font-size: 16px;
}

.reportTable tr:not(:first-child) {
    display: none;
}

th.headerCell {
    background-color: #3e5FFF;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #BDC3C7;
    font-size: 18px;
    font-weight: bold;
}

.headerCell.dimension,
.headerCell.pivot,
.headerCell.measure,
.headerCell.measure.calculation,
.headerCell.transposed.dimension,
.headerCell.transposed.dimension.merged {
    background-color: #3e5FFF;
    border-right: 1px solid #BDC3C7;
    color: white;
}

.rowCell {
    vertical-align: super;
    padding-left: 5px;
    border-bottom: 1px solid #BDC3C7;
}

.rowCell.merged {
    background-color: #ffffff !important;
}

.indexCell.transposed {
    font-weight: bold;
}

.indexCell.transposed.pivot {
    background-color: #ccd8e4;
}

.indexCell.transposed.dimension {
    background-color: #e4ecf3;
}

.indexCell.transposed.measure {
    background-color: #e4d0bd;
}

.indexCell.transposed.calculation {
    background-color: #c9dfc5;
}

.indexCell.transposed.pivot.merged {
    background-color: #ccd8e4 !important;
}

.indexCell.transposed.dimension.merged {
    background-color: #e4ecf3 !important;
}

.indexCell.transposed.measure.merged {
    background-color: #e4d0bd !important;
}

.indexCell.transposed.calculation.merged {
    background-color: #c9dfc5 !important;
}

.nonNumeric {
    text-align: left;
}

.numeric {
    text-align: right;
}

.negative {
    color: red;
}

.estimate {
    color: darkgray !important;
}

.singleIndex {
    padding-left: 15px !important;
}

.subtotal {
    font-style: italic;
    font-weight: bold;
    background: #D3D3D3;
}

.total {
    border-top: 2px solid #696969 !important;
    font-weight: bold !important;
}

.total.transposed {
    border-top: 0px !important;
    background: #D3D3D3;
}

.rectElem.animated {
    font-family: 'Inter', sans-serif;
    margin: 4px;
}
